*,
*::after,
*::before {
  outline: none;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--color-background);
  color: var(--color-on-background);
}

.page-container{
  @apply container max-w-7xl mx-auto py-8
}