*,
*::after,
*::before {
  outline: none;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--color-background);
  color: var(--color-on-background);
}




/* ---------------------------------- RESET --------------------------------- */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}
input[type=number] {
  -moz-appearance: textfield !important;
}

