*,
*::after,
*::before {
  outline: none;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--color-background);
  color: var(--color-on-background);
}

#app {
  input {
    background: var(--color-surface);
    color: var(--color--on-surface);
    border-radius: 4px;
    @apply px-2 py-1 bg-surface text-on-surface rounded-md transition-colors;
  }

  button {
    @apply px-2 py-1 rounded-md bg-primary text-on-primary transition-colors;
  }
}
