@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
	:root {
		--color-primary: theme('colors.teal.600');
		--color-primary-dark: theme('colors.teal.900');
		--color-on-primary: theme('colors.zinc.100');
		--color-primary-hover: theme('colors.teal.500');

		--color-secondary: theme('colors.pink.600');
		--color-secondary-dark: theme('colors.pink.900');
		--color-on-secondary: theme('colors.zinc.100');
		--color-secondary-hover: theme('colors.pink.500');

		--color-background: theme('colors.neutral.700');
		--color-on-background: theme('colors.neutral.300');

		--color-surface: theme('colors.stone.100');
		--color-on-surface: theme('colors.slate.700');
		/* --color-surface: theme('colors.stone.600');
		--color-on-surface: theme('colors.zinc.400'); */

		--color-accent: theme('colors.teal.100');
		--color-on-accent: theme('colors.stone.800');

		--color-border: theme('colors.neutral.300');

		--color-hint: theme('colors.red.400');
		--color-error: theme('colors.red.500');
		
		--color-disabled: theme('colors.zinc.700');
		--color-disabled-border: theme('colors.zinc.600');
		--color-disabled-text: theme('colors.zinc.400');
	}
}

@layer components{

}

/* ... */
